apiVersion: v1
kind: Secret
metadata:
  name: api-gateway-secret
type: Opaque
stringData:
  GATEWAY_AUTH_VIEWER_API_KEY: replace-with-viewer-key
  GATEWAY_AUTH_OPERATOR_API_KEY: replace-with-operator-key
